body {
    max-width: 540px;
    min-width: 320px;
    background: #f2f2f2;
    margin: 0 auto;
    font-size: 14px;
    /* line-height: 1.5em; */
    color: #000;
    -webkit-tap-highlight-color: transparent;
    overflow-x: hidden;
    line-height: 1.5;
}

a {
    text-decoration: none;
    color: #222;
}

div {
    box-sizing: border-box;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}


/* 搜索模块 */

.seach-index {
    display: flex;
    position: fixed;
    top: 0;
    left: 50%;
    transform: translate(-50%);
    -webkit-transform: translate(-50%);
    width: 100%;
    height: 44px;
    min-width: 320px;
    max-width: 540px;
    background-color: #f6f6f6;
    border-top: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
}

.search {
    flex: 1;
    height: 26px;
    border: 1px solid #ccc;
    margin: 7px 10px;
    border-radius: 5px;
    position: relative;
    font-size: 12px;
    color: #666;
    line-height: 24px;
    padding-left: 25px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, .2);
}

.search::before {
    content: '';
    position: absolute;
    top: 5px;
    left: 5px;
    width: 15px;
    height: 15px;
    background: url(../img/sprite.png)no-repeat -59px -279px;
    background-size: 104px;
}

.user {
    width: 44px;
    height: 44px;
    font-size: 12px;
    text-align: center;
    color: #2eaae0;
}

.user::before {
    content: '';
    display: block;
    width: 23px;
    height: 23px;
    background: url(../img/sprite.png) no-repeat -59px -194px;
    background-size: 104px auto;
    margin: 2px auto -2px;
}

.focus img {
    width: 100%;
    margin-top: 44px;
}


/* 局部导航栏 */

.local-nav {
    display: flex;
    height: 64px;
    background-color: #fff;
    border-radius: 8px;
    margin: 3px 4px;
}

.local-nav li {
    flex: 1;
}

.local-nav a {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 12px;
}

.local-nav li [class^='local-nav'] {
    width: 32px;
    height: 32px;
    margin-top: 8px;
    background: url(../img/localnav_bg.png)no-repeat 0 0;
    background-size: 32px;
}

.local-nav li .local-nav-icon2 {
    background-position: 0 -32px;
}

.local-nav li .local-nav-icon3 {
    background-position: 0 -64px;
}

.local-nav li .local-nav-icon4 {
    background-position: 0 -96px;
}

.local-nav li .local-nav-icon5 {
    background-position: 0 -128px;
}


/*  主导航栏  */

nav {
    border-radius: 8px;
    margin: 0 4px 3px;
    overflow: hidden;
}

nav .nav-common:nth-child(1) {
    background: -webkit-linear-gradient(left, #ea5a55, #fa994d);
}

nav .nav-common:nth-child(2) {
    background: -webkit-linear-gradient(left, #4b90ed, #53bced);
}

nav .nav-common:nth-child(3) {
    background: -webkit-linear-gradient(left, #34c2a9, #6cd559);
}

.nav-common {
    display: flex;
    height: 88px;
    background-color: pink;
}

.subnav-entry {
    box-shadow: 0 2px 2px rgba(0, 0, 0, .2);
}

.nav-common:nth-child(2) {
    margin: 3px 0;
}

.nav-items {
    display: flex;
    flex: 1;
    flex-direction: column;
}

.nav-items a {
    flex: 1;
    text-align: center;
    line-height: 44px;
    color: #fff;
    font-size: 14px;
    text-shadow: 1px 1px rgba(0, 0, 0, .2);
}

.nav-items a:nth-child(1) {
    border-bottom: 1px solid #fff;
}

.nav-items:nth-child(1) a {
    border: none;
    background: url(../img/hotel.png)no-repeat bottom center;
    background-size: 121px auto;
}

.nav-items:nth-child(-n+2) {
    border-right: 1px solid #fff;
}


/* 侧边栏 */

.subnav-entry {
    display: flex;
    border-radius: 8px;
    background-color: #fff;
    margin: 0 4px;
    flex-wrap: wrap;
    overflow: hidden;
    padding: 5px 0;
}

.subnav-entry li {
    flex: 20%;
}

.subnav-entry a {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.subnav-entry a [class^='subnav-icon'] {
    width: 31px;
    height: 31px;
    background-color: pink;
    margin-top: 6px;
    background: url(../img/subnav-bg.png)no-repeat 0 0;
    background-size: 31px;
}

.subnav-entry a .subnav-icon2 {
    background-position: 0 -31px;
}

.subnav-entry a .subnav-icon3 {
    background-position: 0 -62px;
}

.subnav-entry a .subnav-icon4 {
    background-position: 0 -93px;
}

.sable-box {
    border-top: 1px solid #bbb;
    background-color: #fff;
    margin: 4px 4px 0;
}

.sable-hd {
    position: relative;
    height: 44px;
    border-bottom: 1px solid #ccc;
}

.sable-hd h2 {
    position: relative;
    text-indent: -999px;
    overflow: hidden;
}

.sable-hd h2::after {
    position: absolute;
    top: 8px;
    left: 10px;
    content: '';
    width: 79px;
    height: 15px;
    background: url(../img/hot.png)no-repeat 0 -20px;
    background-size: 79px;
}

.sable-hd a {
    position: absolute;
    right: 5px;
    top: 0px;
    background: -webkit-linear-gradient(left, #ff506c, #ff6bc6);
    border-radius: 15px;
    padding: 3px 20px 3px 10px;
    color: #fff;
}

.sable-hd a::after {
    position: absolute;
    top: 10px;
    right: 9px;
    width: 7px;
    height: 7px;
    content: '';
    border-top: 2px solid #fff;
    border-right: 2px solid #fff;
    transform: rotate(45deg);
}

.row {
    display: flex;
}

.row a {
    flex: 1;
    border-bottom: 1px solid #eee;
}

.row a img {
    width: 100%;
}

.row a:nth-child(1) {
    border-right: 1px solid #eee;
}